<div class="showUser">
<p id="notice"><%= notice %></p>

<p>
  <span>Email:</span>
  <%= @user.email %>
</p>

<h2>Goals</h2>
<% @user.goals.each do |g| %>
  <p>
    <%= link_to "goal", goal_path(g.id) %> - <%= g.goal_value %>
  </p>
<% end %>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</p>
</div>
