<div class="currentMoment">
  <p>
    <span>Title:</span> <%= @goal.title %>
  </p>

  <p>
    <span>Goal value:</span> <%= @goal.goal_value %>
  </p>

  <% if @goal.moments.length > 0 %>
    <span>Moments</span>
    <% @goal.moments.reverse.each do |m| %>  <!-- descending -->
      <p><%= m.moment_value %> - <%= m.created_at %></p>
    <% end %>
  <% end %>
</div>

<div class="createMoment">
<p><span>Create Moment</span></p>
<%= form_for :moment, :url => "/moments/in_goal", :method => "post", :action => "create_in_goal" do |f| %>
  <p>
    <%= f.label :moment_value %>
    <%= f.number_field :moment_value %>
    <%= f.hidden_field :goal_id, :value => @goal.id %>
  </p>
  <%= f.submit %>
<% end %>
</div>

<p>
 <%= link_to 'Edit', edit_goal_path(@goal) %> |
 <%= link_to 'Back', goals_path %> 
</p>
