<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Goal value:</b>
  <%= @goal.goal_value %>
</p>

<p>
  <b>User:</b>
  <%= current_user.email %>
</p>

<% if @goal.moments.length > 0 %>
  <p>Moments</p>
  <% @goal.moments.reverse.each do |m| %>  <!-- descending -->
    <p><%= m.moment_value %> - <%= m.created_at %></p>
  <% end %>
<% end %>

<br />

<p><b>Create Moment</b></p>
<%= form_for @moment do |f| %>
  <p>
    <%= f.label :moment_value %>
    <%= f.number_field :moment_value %>
    <%= f.hidden_field :goal_id, :value => @goal.id %>
  </p>
  <%= f.submit %>
<% end %>

<p>
 <%= link_to 'Edit', edit_goal_path(@goal) %> |
 <%= link_to 'Back', goals_path %> 
</p>
