<div class="nav">
  <ul>
    <% @goals.each do |g| %>
      <li><%= link_to g.title, goal_path(g.id) %></li>
    <% end %>
  </ul>
</div>


<%= content_tag :div, "", id: "showChart", data: {moments: @moments} %>

<div class="createMoment">
  <p><span>Create Moment</span></p>
  <%= form_for @moment do |f| %>

    <p>
      <%= f.label :moment_value %>
      <%= f.number_field :moment_value %>
      <%= f.hidden_field :goal_id, {:value => @goal.id}%>
    </p>
    <%= f.submit %>
  <% end %>
</div>

<div class="currentMoment">
  <p>
    <span>Title:</span> <%= @goal.title %>
  </p>

  <p>
    <span>Goal value:</span> <%= @goal.goal_value %>
  </p>

  <% if @goal.moments.length > 0 %>
    <span>Moments</span>
    <% @goal.moments.reverse.first(5).each do |m| %>  <!-- descending -->
      <p><%= m.moment_value %> - <%= m.created_at %></p>
    <% end %>
  <% end %>
</div>


  





