<h1>Moments#new</h1>
<p>Find me in app/views/moments/new.html.erb</p>

<%= form_for @moment do |f| %>
  <p>
    <%= f.label :moment_value %>
    <%= f.text_field :moment_value %>
  </p>
  <p>
    <%= f.label :goal_id %>
    <%= f.text_field :goal_id %>
  </p>
  <%= f.submit %>
<% end %>
