<!DOCTYPE html>
<html>
<head>
  <title>GoalTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<header class="clearfix">
  <div class="logo">
    <span>Goal Tracker</span>
  </div>
  
  <% if flash[:notice] || flash[:alert] %>
  <div class="messages">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <% end %>

  <div id="nav">
    <% if current_user %>
      <p><%= link_to "Dashboard", dashboard_path(current_user.id) %> |</p>
      <p><%= link_to "Logout", :logout, method: :post %></p>
    <% else %>
      <p><%= link_to "Register", new_user_path %> |</p>
      <p><%= link_to "Login", :login %></p>
    <% end %>
  </div>
  
</header>
  <body> 
    <div class="content clearfix">

      <%= yield %>
    
    </div>
  </body>

<footer>  
</footer>

</html>
